<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    
    <add key="8091" value="C:\Users\user\Documents\visual studio 2010\Projects\WebDemo\WebDemo"/>
    <add key="8099" value="E:\Project\JFRD\DistributionDevelopmentProject\DistributionWeb"/>
  </appSettings>
</configuration>